# Proteger arquivos de configuração
<Files "config.php">
    Require all denied
</Files>

<Files "credentials-local.php">
    Require all denied
</Files>

<FilesMatch "\.(log|bak|json)$">
    Require all denied
</FilesMatch>